{% extends 'base.html' %} {% block title %}Login Page{% endblock title %} {%
block content %}
<br>
<form method="POST">
  <h3 align="center">Login to access YouTube MP3 Downloader</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Login</button>
  <br/>
  <br/>
  <hr style="width:100%;text-align:center;margin-left:0">
  <br/>
  <div ss align="center">
    <p>Don't have an account? <a href="/sign-up"> Sing up</a></p> 
 </div>
</form>

{% endblock content %}
